// Components
@import '../bower_components/utils/reset.less';
@import '../bower_components/utils/mixins.less';
@import '../bower_components/modals/modals.less';
@import '../bower_components/icons/icons.less';
@import '../bower_components/sidebars/sidebars.less';
@import '../bower_components/lists/lists.less';

@import 'chat.less';
@import 'base.less';
@import 'buttons.less';
@import 'icons.less';
@import 'bubble.less';

body {
  margin: 0;
  display: flex;
  .flex-direction(row);
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
}

#dock.collapsed {
  width: 75px;
  min-width: auto;

  .info {
    h1, h3 {
      text-overflow: clip;

      span {
        opacity: 0;
      }
    }

    h2 {
      span {
        opacity: 1;
      }
    }

    h2, h3 {
      transform: translateY(5px);
    }
  }

  .menu {
    .tc-list a {
      span {
        opacity: 0;
      }
    }
  }
}

#dock {
  width: 280px;
  height: 100%;

  transition: width @transitionTime;

  display: flex;
  .flex-direction(column);
  .justify-content(center);
  .align-items(center);

  span {
    transition: opacity @transitionTime;
  }

  .info {
    width: calc(~"100% - 60px");
    background-color: #1a99ce;
    border-radius: 16px;
    border-top-left-radius: 0;
    margin: 15px 20px;
    padding: 15px 15px 5px 15px;

    #handler {
      width: 16px;
      opacity: 0.8;
      margin: 0 0 0 -3px;
      padding: 2px;

      span {
        width: 100%;
        height: 1px;
        margin: 2px 0;
        background: #fff;
        display: block;
        transition: transform .5s ease;
        transform: translateY(0);
      }
    }

    #handler:hover {
      span:first-child {
        transform: translateY(-2px);
      }

      span:last-child {
        transform: translateY(2px);
      }
    }

    h1 {
      height: 48px;
      overflow: hidden;
      .truncate();
      text-overflow: ellipsis;
      font-family: "AvantGardeGothicITCW01X", arial;
      font-size: 18px;
      font-weight: 100;
      line-height: 24px;
      margin: 12px 0 0px 0;
      padding-bottom: 15px;
      opacity: 0.8;
      border-bottom: 2px solid #fff;
    }

    h2 {
      margin: 0;
      width: 100%;
      font-size: 9px;
      text-align: center;

      span {
        opacity: 0;
      }
    }

    h3 {
      overflow: hidden;
      font-size: 12px;
      font-weight: @boldFontWeight;
      .truncate();
      text-overflow: ellipsis;

      padding: 4px 0 16px;
      margin: 0;

      span {
        opacity: 1;
        padding-left: 4px;
      }
    }

    h2, h3 {
      transition: transform @transitionTime;
    }

    [data-icon="participants"] {
      margin: 0 0 -3px -1px;
    }
  }

  .menu {
    width: 100%;
    flex: 1;
    background-color: transparent;

    .tc-list li {
      .truncate();
      background-color: transparent;
      border-bottom: 0;
      padding: 18px 0 18px 30px;
      text-overflow: clip;
      font-size: 12px;
    }

    .tc-list a {
      color: #9b9c9b;
      width: calc(~"100% - 12px");
      padding-left: 12px;

      [data-icon] {
        margin: 0 15px -3px 0;
      }

      &:hover,
      &:active {
        color: @blueText;
        background-color: #f9f9f9;
      }
    }

    .tc-list a.zeroclipboard-is-hover [data-icon="add"], [data-icon="add"]:after {
      background-image: url("/images/icons/add_hover.svg");
    }

    .tc-list a.zeroclipboard-is-hover {
      color: @blueText;
      background-color: #f9f9f9;
    }

    .tc-list a.zeroclipboard-is-active {
      background-color: none;
    }

    .tc-list a * {
      pointer-events: none;
    }

    .tc-list a.highlight {
      color: #000;
    }

    #stopArchiving {
      display: none;

      span:not(.duration) {
        position: absolute;
        right: 30px;
        top: 19px;
      }

      .duration {
        font-feature-settings: 'tnum';
      }

      .duration, i {
        color: #c61f4c;
      }
    }

    #stopSharingDesktop {
      display: none;
      color: #c61f4c;
    }
  }
}

[data-archive-status="started"] #dock .menu {
  #startArchiving {
    display: none;
  }

  #stopArchiving {
    display: inline-block;
  }
}

[data-archive-status="started"] #screen .publisher i[data-icon="record"] {
  display: inline-block;
}

[data-desktop-status="sharing"] {
  #dock .menu {
    #startSharingDesktop {
      display: none;
    }

    #stopSharingDesktop {
      display: inline-block;
    }
  }

  #screen .desktop {
    visibility: visible;
    pointer-events: auto;
  }
}

#screen {
  flex: 1;
  height: 100%;
  height: calc(~"100% - 15px");
  background-color: #f9f9f9;
  padding: 15px 20px 0 20px;

  .desktop {
    visibility: hidden;
    pointer-events: none;

    bottom: 30px;
  }

  .publisher {
    top: 30px;

    width: 20%;
    height: 20%;

    i[data-icon="record"] {
      display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1010;
      font-size: 14px;
      width: 17px;
      color: #c61f4c;
      padding: 0 4px 4px 0;
    }

    .controls {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 10px;
      text-align: center;

      .buttons {
        border-radius: 25px;
        padding: 8px;
        background-color: transparent;

        div {
          display: inline-block;
        }
      }
    }
  }

  .desktop, .publisher {
    position: absolute;

    z-index: 1001;

    min-width: 200px;
    min-height: 150px;

    right: 40px;

    overflow: hidden;
    border-radius: 12px;
  }

  .subscribers {
    width: 100%;
    height: calc(~"100% - 15px");

    .grid {
      width: 100%;
      height: 100%;

      ul {
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        border: 0;
        overflow: hidden;
        border-radius: 12px;
        z-index: 1;
        margin: 0.1% 0.3%;

        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
        }

        .controls {
          top: 40px;
          left: 40px;
        }
      }
    }
  }

  .controls {
    z-index: 1010;
    position: absolute;

    .buttons {
      background-color: rgba(0, 0, 0, .4);
      border-radius: 25px;
      padding: 15px;
      display: inline-block;

      div {
        display: inline-block;
        padding: 2px 14px 0 14px;
      }
    }
  }

  footer {
    color: #9b9c9b;
    font-size: 8px;
    line-height: 15px;
    text-align: right;
    padding-right: 45px;
  }
}

#screenShareErrors .tc-dialog {
  max-width: 380px;
}

#screenShareErrorInstall, #extInstallationSuccessful, #screenShareErrorMsg {
  display: none;
}

[data-screen-sharing-type=error-sharing] #screenShareErrorMsg,
[data-screen-sharing-type=error-installing] #screenShareErrorInstall,
[data-screen-sharing-type=successful-installation] #extInstallationSuccessful {
  display: inline-block;
}

.user-name-modal .tc-dialog {
  padding: 65px 100px;
  max-width: calc(~"100% - 220px");
  margin: 0;

  header, footer, p {
    margin: 0;
    padding: 0;
  }

  header {
    font-family: "AvantGardeGothicITCW01X", arial;
    font-size: 48px;
    font-weight: 200;
    line-height: 60px;
    color: @blueText;
    margin-bottom: 23px;
    overflow: hidden;
    .truncate();
    text-overflow: ellipsis;
  }

  p {
    font-family: "AvantGardeGothicITCW01M 731087", arial;
    font-size: 16px;
    color: #5f6062;
  }

  .username {
    margin: 40px 0;
  }

  .btn {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
  }
}
