{
  "extends": "airbnb/legacy",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-underscore-dangle": "off",
    "vars-on-top": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-unused-expressions": "off",
    "no-shadow": "off",
    "no-use-before-define": "off",
    "one-var": "off",
    "default-case": "off",
    "no-multi-assign": "off",
    "no-console": 0,
    "no-labels": 0,
    "padded-blocks": 0,
    "no-multiple-empty-lines": [1, {"max": 2, "maxBOF": 0}]
  },
  "globals": {
    "$": true,
    "HTMLElems": false,
    "LazyLoader": false,
    "Promise": false,
    "Utils": false
  }
}

