<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OpenTok</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/buttons.css" />
<% if (isWebRTCVersion) { %>
    <link rel="stylesheet" href="css/checkboxes.css" />
<% } %>
    <link rel="stylesheet" href="css/landing.opentok.css">

    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
    <link rel="icon" href="/favicon.png">

    <script defer type="text/javascript" src="/js/vendor/es6-promise.min.js"></script>
    <script defer type="text/javascript" src="/js/ie_polyfills.js"></script>
    <script defer type="text/javascript" src="/js/vendor/lazy_loader.js"></script>
    <script defer type="text/javascript" src="/js/rtcApp.js"></script>
  </head>

  <body class="forbidden">
    <section class="main">
      <section>

<% if (!isWebRTCVersion) { %>
        <header>
          <img src="images/opentok-logo.png" alt="opentok transparent logo">
        </header>
        <h1>The OpenTok Platform Demo</h1>
<% } else { %>
         <span class="extended-header">
           <header>
             <img src="images/opentok-logo.png" alt="opentok transparent logo">
           </header>
           <h1>WebRTC Demo</h1>
         </span>
         <h2>Built by TokBox on the OpenTok Platform</h2>
         <h3>This WebRTC Demo enables group video conferencing, text chat, screen sharing, and more</h3>
<% } %>
        <form>
          <p>
            <input id="room" class="text-input required" placeholder="Type the name of the meeting">
            <input id="user" class="text-input" placeholder="Type your name">
            <p class="error-room error-text">Please enter a meeting name</p>
          </p>
<% if (isWebRTCVersion) { %>
           <div class="contract">
             <p>
               <label class="checkbox">
                 <input id="terms" class="required" type="checkbox">
                 <span>I accept the <a target="_blank" href="https://tokbox.com/support/tos">user agreement</a> and <a target="_blank" href="https://tokbox.com/support/privacy-policy">privacy policy</a></span>
               </label><span class="error-terms error-text">You must agree to the terms of service</span>
               <br/>
               <label class="checkbox">
                 <input id="adult" class="required" type="checkbox">
                 <span>I am at least 18 years of old</span>
               </label>
               <span class="error-adult error-text">You must be at least 18 years of old</span>
             </p>
           </div>
<% } %>
          <button id="enter" class="btn tb btn-primary btn-arrow btn-next btn-padding">Create Meeting</button>
          <p class="error-title error-text">Please fill in required information</p>
        </form>
<% if (!isWebRTCVersion) { %>
        <div class="safari-plug">
          <a href="https://safari.opentokrtc.com/">Try the WebRTC Demo for Safari.</a>
        </div>
<% } %>
      </section>
    </section>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77945470-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
