<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OpenTok</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/room.opentok.css">
    <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">

    <script defer src="/js/vendor/es6-promise.min.js"></script>
    <script defer src='/js/vendor/ZeroClipboard.min.js'></script>
    <script defer src="/js/components/bubble.js"></script>
    <script defer src='/js/vendor/lazy_loader.js'></script>
    <script defer src='/js/rtcApp.js'></script>

  </head>

  <body>
    <section id="dock">
      <header class="info">
        <i id="handler" data-icon="bars"></i>
        <h1>
          <span id="userName"><%= userName %></span> <span>OpenTok</span><br>
          <span id="roomName"><%= roomName %></span> <span>Meeting Room</span>
        </h1>
        <h2><span class="participants"></span></h2>
        <h3>
          <i data-icon="users"></i><span class="participants"></span><span>participants</span>
        </h3>
      </header>
      <nav class="menu tc-sidebar">
        <div class="tc-list">
          <ul>
            <li>
              <a id="addToCall"><i data-icon="user-plus"></i><span>Add to call</span></a>
            </li>
            <li>
              <a><i data-icon="video-camera"></i><span>Start recording</span></a>
            </li>
            <li>
              <a><i data-icon="download"></i><span>View archived recordings (<span id="recordings">0</span>)</span></a>
            </li>
            <li>
              <a><i data-icon="desktop"></i><span>Share your screen</span></a>
            </li>
            <li>
              <a><i data-icon="layout"></i><span>Manage layout</span></a>
            </li>
            <li>
              <a id="startChat"><i data-icon="chat"></i><span>Start text chat</span></a>
            </li>
            <li>
              <a id="endCall" class="danger"><i data-icon="end-call"></i><span>End video call</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </section>

    <section id="screen">
      <div class="subscribers">
      </div>
      <div id="publisher" class="publisher"></div>
      <footer>
        Powered by TokBox
      </footer>
    </section>

    <section class="bubbles">
      <section for="addToCall" class="bubble">
        <div class="bubble-content">
          <p>Room link has been copied.</p>
          <p>Share link to add others to the call.</p>
          <input class="tc-input block" onclick="this.select();">
        </div>
      </section>
    </section>

    <section id="chat">
      <form class="dialog-chat" id="chatForm">
        <header>
          <i data-icon="chat-view"></i><span>Chat:</span><span id="chatName"></span><a id="closeChat"><i data-icon="close-chat"></i></a>
        </header>
        <div id="chatMsgs" class="tc-list">
          <ul>
          </ul>
        </div>
        <footer>
          <input class ="tc-input block" placeholder="New message here" id="msgText">
          <button id="sendTxt" type="submit">Send</button>
        </footer>
      </form>
    </section>

    <section class="tc-modal user-name-modal">
      <form class="tc-dialog">
        <header></header>
        <div class="tc-row">
          <label>User name (*optional)</label>
          <input class="tc-input block" placeholder="Anonymous User">
        </div>
        <footer>
          <button id="enter" class="tc-button">Enter</button>
          <p>First time users please <a class="tc-link" target="_blank" href="https://tokbox.com/support/tos">read.</a></p>
        </footer>
      </form>
    </section>
  </body>
</html>
