<section class="endMeeting">
  <header>
    <img src="/images/opentok-logo.png" alt="opentok transparent logo">
    <% if(!isWebRTCVersion) { %>
    <p>Thank you for using OpenTok Platform Demo</p>
    <% } else { %>
    <p class="bold">Thank you for trying TokBox’s WebRTC Demo</p>
    <% } %>
  </header>
  <% if(!isWebRTCVersion) { %>
  <button id="newCall" class="btn btn-blue btn-padding-large ctaarrow-white">Start a new meeting</button>

  <footer>
<% if (sessionId !== 'NOT_AVAILABLE') { %>
    <p> Get more information about the quality of your last meeting using our <a href=" https://tokbox.com/developer/tools/inspector/account/admin/lookupSession?sessionId=<%=sessionId%>">Inspector tool</a>.</p>
<%} else {%>
    <p> You didn't join the meeting, so no information about the quality is available</p>
<%}%>
  </footer>
</section>

<% } else { %>
    <div class="toolbar">
      <a target="_blank" href="https://tokbox.com/developer/" class="btn btn-blue btn-padding-large ctaarrow-white">Build a WebRTC app</a>
      <a target="_blank" href="https://tokbox.com/" class="btn btn-white btn-padding-large ctaarrow-blue">Learn about TokBox</a>
    </div>
    <% } %>
