<section class="tc-modal locked">
  <form class="tc-dialog">
    <header>
      <span>Meeting locked</span>
    </header>
    <p>We are sorry, the meeting you are trying to join has been locked. Please contact the meeting organizer to join, or try with another room name.</p>
  </form>
</section>
