<section class="tc-modal user-name-modal">
  <img id="logo" src="/images/tokbox-logo.svg" alt="opentok transparent logo">

  <form class="tc-dialog">
    <div id="video-preview">
      <div id="video-preview-name">foo</div>
    </div>
    <div class="publish-settings">
      <div id="enter-name-prompt">
        <input id="user-name-input" class="block username" placeholder="Your Name">
        <span>Optional</span>
      </div>
      <div id="video-settings">
        <img src="/images/icons/video-icon.svg" />
        <span>Video</span>
        <a id="initialVideoSwitch" class="activated">
          <label>On</label>
          <i data-icon="videoSwitch"></i>
        </a>
      </div>
      <div id="audio-settings">
        <img src="/images/icons/mic-icon.svg" />
        <span>Audio</span>
        <svg style="height:5px; width:89px">
          <style>
            rect {
              fill: #505050;
              height: 5px;
              width: 89px;
            }
            #audioMeterLevel {
              fill: #10a9dc;
            }
          </style>
          <rect id="audioMeterBackground">
          </rect>
          <rect id="audioMeterLevel"></rect> 
        </svg>
                    <a id="initialAudioSwitch" class="activated">
                      <label>On</label>
          <i data-icon="audioSwitch"></i>
        </a>
      </div>
      <div id="pre-call-test">
        <img src="/images/icons/connectivity-icon.svg" />
        <span>Connectivity test (in progress)</span>
        <svg style="height:5px; width:89px">
          <style>
            rect {
              fill: #505050;
              height: 5px;
              width: 0;
            }
            #precallTestMeterLevel {
              fill: #10a9dc;
            }
          </style>
          <rect id="precallTestMeterBackground">
          </rect>
          <rect id="precallTestMeterLevel"></rect> 
        </svg>
      </div>
    </div>
    <footer>
      <button id="enter" class="btn btn-blue btn-padding" disabled>
        <span class="room-name"></span>
      </button>
    </footer>
  </form>
  <div id="precall-dialogs">
    <p id="name-heading" class='room-name'></p>
    <div id="pre-call-test-results">
      <i data-icon="close-box" id="precall-close"></i>
      <i data-icon="precall-tick" id="precall-icon"></i>
      <p id="pre-call-heading">Precall Test Results</p>
      <p id="pre-call-description">
        You can expect a great experience on your video call!
      </p>
      <div id="results">
        <div id="precall-video-results" class="precall-media-results">
          <p class="media-heading">
            VIDEO QUALITY
          </p>
          <p class="bitrate">
            <span id="video-bitrate"></span> Kbps
          </p>
          <p id="precall-resolution">
          </p>
          <p id="precall-framerate">
          </p>
          <p id="precall-video-packet-loss">
          </p>
        </div>
        <div id="precall-audio-results" class="precall-media-results">
          <p class="media-heading">
            AUDIO QUALITY
          </p>
          <p class="bitrate">
            <span id="audio-bitrate">40</span> Kbps
          </p>
          <p id="precall-audio-packet-loss">
            0% packet loss
          </p>
        </div>
      </div>
      <div id="retest">
        <i data-icon="precall-retest" id="precall-retest"></i>
        Re-test
      </div>
    </div>
</div>
</section>
