<section class="tc-modal contract">
  <form class="tc-dialog">
    <i data-icon="close_gray" class="close"></i>
    <header>
      <span>Terms of Use</span>
    </header>
    <p>By using this free video conferencing service (the "Service"), you agree and acknowledge that the Service is provided by Vonage "as is" and without warranty of any kind, express or implied. You also agree that Vonage shall not be liable to you in connection with your use of the Service, and that any claims regarding the Service shall be subject to the exclusive jurisdiction and venue of the state and federal courts of, and shall be governed and construed in accordance with the laws of, the State of Delaware, USA. You agree that your use of the Service shall be in accordance with Vonage's acceptable use policy, and that Vonage reserves the right to suspend usage at any time for any reason. You acknowledge that you have read and understand Vonage's privacy policy, which applies to your use of the Service.</p>
    <footer>
      <button id="enter" class="btn tb btn-padding accept">Accept and Continue</button>
    </footer>
  </form>
</section>
