<section class="tc-modal contract">
  <form class="tc-dialog">
    <i data-icon="close_gray" class="close"></i>
    <header>
      <span>Terms of Use</span>
    </header>
    <p>By accepting our terms of use you acknowledge that you have read the <a target="_blank" href="https://tokbox.com/support/tos">user agreement</a> and <a target="_blank" href="https://tokbox.com/support/privacy-policy">privacy policy</a>, and you are at least 18 years of&nbsp;age.</p>
    <footer>
      <button id="enter" class="btn tb btn-primary btn-arrow btn-next btn-padding accept">Accept and Continue</button>
    </footer>
  </form>
</section>
