<section class="tc-modal unavailable">
  <form class="tc-dialog">
    <header>
      <span>Conferencing unavailable at this time</span>
    </header>
    <p>Due to the high traffic, we're asking users to try back later. Thank you for understanding.</p>
  </form>
</section>
