label.checkbox,
label.switch {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  float: none;
  background: none;
  min-width: 0;
  border: none;
  margin: 0;
  padding: 10px 0;
  cursor: pointer;
  box-sizing: border-box;
}
label.checkbox + .checkbox,
label.switch + .checkbox {
  margin-top: 0;
}
label.checkbox.right,
label.switch.right {
  text-align: right;
  margin-right: 20px;
}
label.checkbox.right span,
label.switch.right span {
  padding: 0 35px 0 0;
}
label.checkbox.right span:before,
label.switch.right span:before {
  left: auto;
  right: 2px;
}
label.checkbox.right span:after,
label.switch.right span:after {
  left: auto;
  right: 0;
}
label.checkbox.block,
label.switch.block {
  display: block;
}
label.checkbox.block.right,
label.switch.block.right {
  text-align: left;
  margin-right: 0;
}
label.checkbox.block.right span:after,
label.switch.block.right span:after {
  right: 0;
  left: auto;
}
label.checkbox input,
label.switch input {
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
label.checkbox input:checked ~ span,
label.switch input:checked ~ span {
  color: #000000;
}
label.checkbox span,
label.switch span {
  position: relative;
  display: block;
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
  pointer-events: none;
  padding: 0 20px 4px 35px;
  color: #95a4ab;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
label.checkbox span:before,
label.switch span:before {
  position: absolute;
  top: 50%;
}
label.checkbox span:after,
label.switch span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -13px;
}
label.checkbox span {
  background-image: url('/images/icons/check.png');
  background-size: 0 0;
  background-repeat: no-repeat;
}
label.checkbox span:before {
  display: none;
  left: 2px;
  line-height: 24px;
  margin-top: -13px;
}
label.checkbox span:after {
  height: 22px;
  width: 22px;
  border: 1px solid rgba(32, 64, 79, 0.2);
  border-radius: 4px;
}
label.checkbox input:checked ~ span {
  background-size: 24px auto;
}
label.checkbox.right span {
  background-position: 101% 100%;
}
label.checkbox input:checked ~ span:before {
  display: block;
}
label.switch span {
  padding: 0 20px 0 55px;
}
label.switch span:before {
  content: "";
  left: 0;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  margin-top: -10px;
  -webkit-transform: translateX(3px);
      -ms-transform: translateX(3px);
          transform: translateX(3px);
  transition: all 0.1s ease;
  z-index: 1;
}
label.switch span:after {
  height: 24px;
  width: 42px;
  background-color: rgba(32, 64, 79, 0.2);
  border-radius: 22px;
  transition: all 0.1s ease;
}
label.switch input:checked ~ span:after {
  background: #0099cc;
}
label.switch input:checked ~ span:before {
  -webkit-transform: translateX(21px);
      -ms-transform: translateX(21px);
          transform: translateX(21px);
}
label.switch.right span {
  padding: 0 55px 0 0;
}
label.switch.right span:before {
  right: 0;
  -webkit-transform: translateX(-21px);
      -ms-transform: translateX(-21px);
          transform: translateX(-21px);
}
label.switch.right input:checked ~ span:before {
  -webkit-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
          transform: translateX(-3px);
}
