/* spezia-regular - latin */
@font-face {
  font-family: 'Spezia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Spezia-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Spezia-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Spezia-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Spezia-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Spezia';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Spezia-SemiBold.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Spezia-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Spezia-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Spezia-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}
